* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;

}

@import url('http://fonts.cdnfonts.com/css/gotham');

/* scrollbar overflow-y: auto */ 

/* XS Version */

@media screen and (max-width: 576px) {
    /* Left bar */

    .left-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: tomato;
        width: 100px;
        height: calc( 100vh - 150px );
        flex-shrink: 0;
        background-color: #000;
        z-index: 999;
    }
    
    .item-top,
    .item-bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: black;
        width: 100%;
    }

    .item-top > a {
        margin-bottom: 1rem;
        width: 50%;
    }

    .item-bottom > a {
        margin: 1rem;
    }
    
    .item-bottom {
        width: 100%;
    }

    #download {
        width: 27%;
    }

    #profile {
        text-align: center;
        background-color: #808080;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }

    /* Main */

    .debug {
        display: flex;
        flex-direction: row;
    }

    .container {
        background-color: #141922;
        overflow-y: auto;
        width: 100%;
        height: calc(100vh - 150px);
    }

    .upgrade {
        padding: 20px;
        width: calc( 100% - 100px );
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, .25);
    }

    #upgrade-btn {
        text-transform: uppercase;
        float: right;
        width: 200px;
        border-radius: 20px;
        padding: 10px;
        border: 1px solid white;
        text-align: center;
    }

    #upgrade-btn > a {
        color: #fff;
        text-decoration: none;
        font-size: .7rem;
    }

    .nav-bar {
        display: flex;
        padding-top: 150px;
        width: 100%;
        background-color: aqua;
    }

    .nav-bar ul {
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }

    .nav-bar ul li {
        flex-direction: row;
        margin: 0 10px 40px 10px;
        list-style: none;
    }

    .nav-bar ul li a {
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        color: #7b7e82;
        font-size: 1rem;
    }

    .container-card {
        background-color: lightgreen;
        height: 1000px;
        width: 100%;
    }


    /* Player */

    .player {
        bottom: 0;
        position: fixed;
        height: 150px;
        width: 100%;
        background-color: black;
    }
}