* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
}

@import url('http://fonts.cdnfonts.com/css/gotham');

/* scrollbar overflow-y: auto */ 

/* XS Version */

@media screen and (max-width: 576px) {
    /* Left bar */

    .left-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: tomato;
        width: 50px;
        flex-shrink: 0;
        background-color: #000;
        z-index: 999;
    }
    
    .item-top,
    .item-bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: black;
        width: 100%;
    }

    .item-top > a {
        margin-bottom: .5rem;
        width: 60%;
    }

    .item-bottom > a {
        margin: .5rem;
    }
    
    .item-bottom {
        width: 100%;
    }

    #download {
        width: 40%;
    }

    #profile {
        text-align: center;
        background-color: #808080;
        border-radius: 50%;
        width: 35px;
        height: 35px;
    }

    /* Main */

    .debug {
        display: flex;
        flex-direction: row;
    }

    .container {
        background-color: #141922;
        overflow-y: auto;
        width: 100%;
        margin: 0 auto;
        height: calc(100vh - 100px);
    }

    /* Upgrade section */

    .upgrade {
        padding: 20px;
        width: calc( 100% - 50px );
        position: fixed;
        top: 0;
        background-color: rgba(0, 0, 0, .25);
    }

    #upgrade-btn {
        text-transform: uppercase;
        float: right;
        width: 200px;
        border-radius: 20px;
        padding: 10px;
        border: 1px solid white;
        text-align: center;
    }

    #upgrade-btn > a {
        color: #fff;
        text-decoration: none;
        font-size: .7rem;
    }

    /* Nav bar */

    .nav-bar {
        display: flex;
        padding-top: 100px;
        width: 100%;
    }

    .nav-bar ul {
        display: flex;
        padding: 10px;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
    }

    .nav-bar ul li {
        flex-direction: row;
        margin: 0 10px 40px 10px;
        list-style: none;
    }

    .nav-bar ul li a {
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
        color: #7b7e82;
        font-size: .8rem;
    }

    /* Card section */

    h1 {
        color: #fff;
    }

    .container-card {
        height: 1000px;
        width: 90%;
        margin: 0 auto;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: 20px;
    }

    .card {
        flex-wrap: wrap;
        margin: 0 10px 20px 0;
        width: 47%;
    }

    .card img {
        border-radius: 10px;
        width: 100%;
    }

    .card-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        text-align: center;
        margin: 10px 0;
        font-weight: 700;
        color: #fff;
    }

    .subtitle {
        text-align: center;
        font-size: .7rem;
        font-weight: 100;
        color: #7b7e82;
    }

    /* Player */

    .player {
        z-index: 9999;
        bottom: 0;
        position: fixed;
        height: 100px;
        width: 100%;
        background-color: #181818;
        display: flex;
        justify-content: space-between;
    }

    /* player left */

    .player-left img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .player-left,
    .player-right {
        flex-grow: 2;
    }

    .player-left {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .player-left > div > .title {
        font-size: 15px;
    }

    .player-left > div > .subtitle {
        font-size: 10px;
    }

    .item-player-left {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        color: #7b7e82;
    }

    .player-left > div > .title,
    .player-left > div > .subtitle {
        margin: 0;
        text-align: left;
    } 

    .player-left,
    .player-center,
    .player-right{
        width: 10%;
    }

    
    /* player center */
    
    .player-center {
        padding: 10px;
        flex-grow: 4;
    }

    .controller {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0px;
        padding: 0 10px;
        font-size: 15px;
    }

    .controller > a,
    .item-player-left a,
    .player-right a {
        color: #fff;
        text-decoration: none;
    }

    #play {
        font-size: 30px;
    }

    .time-line {
        color: #fff;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .loading-bar {
        width: 20vw;
        height: 100px;
        background-color: #ff1;
    }

    /* player right */

    .player-right {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 10px;
    }
}